 @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Karla:ital,wght@0,400;0,700;1,400&family=Roboto+Mono&display=swap');
 
/*-- scss:defaults --*/
$font-family-base: "Karla" !default;
$font-family-code: "Roboto Mono" !default;
$headings-font-family: "Darker Grotesque" !default;